@import url("https://fonts.cdnfonts.com/css/inter");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* Adjust this based on your navbar height */
}
